<mat-toolbar class="position-relative mat-elevation-z4">
  <span
    class="material-symbols-outlined"
    routerLink="/"
    [style.cursor]="'pointer'"
  >
    vital_signs
  </span>
  <button mat-button class="ms-3">Find Doctor</button>
  <button mat-button>Video Consult</button>
  <button mat-button>Medicines</button>
  <button mat-button>Lab Test</button>
  <button mat-button>Surgeries</button>
  <button mat-button routerLink="/patient">Patients</button>

  <button mat-flat-button color="primary" class="ms-auto">Login/Signup</button>
</mat-toolbar>
