@using Chakraa.Helper;
@{
    ViewData["Title"] = "Home Page";
}
@model Chakraa.Models.AppointmentBookingModel

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <span class="label">City:</span>
            @Html.DropDownListFor(m => m.CityID, City.CityDropdownOptions(), new { onchange = "this.form.submit(); " })
        </div>

        <div class="col-md-6 col-lg-4">
            <span class="label">Departments:</span>
            @Html.DropDownListFor(m => m.DepartmentID, Departments.DepartmentDropdownOptions(), new { onchange = "this.form.submit(); " })
        </div>
    </div>
}
