<form [formGroup]="authFormGroup" class="d-flex flex-column">
  <mat-form-field class="mat-form-field">
    <mat-label> Enter Mobile Number </mat-label>
    <input matInput formControlName="mobileNumber" type="number" />
    <mat-error *ngIf="mobileNumberControl?.hasError('required')">
      {{ ERROR_MESSAGE.REQUIRED("Mobile number") }}
    </mat-error>
    <mat-error *ngIf="mobileNumberControl?.hasError('pattern')">
      {{ ERROR_MESSAGE.PATTERN("Mobile number") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mat-form-field">
    <mat-label> Enter Password </mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="passwordControl?.hasError('required')">
      {{ ERROR_MESSAGE.REQUIRED("User Id") }}
    </mat-error>
    <mat-error *ngIf="passwordControl?.hasError('minlength')">
      {{ ERROR_MESSAGE.MINLENGTH(4) }}
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    class="mt-3 w-50 align-self-end"
    (click)="navigateToDoctorPortal()"
  >
    <div class="d-flex flex-row">
      <mat-label class="me-2">Send OTP</mat-label>
      <mat-icon> arrow_forward </mat-icon>
    </div>
  </button>
</form>
